target/
!.mvn/wrapper/maven-wrapper.jar
.gitignore
.DS_Store

### config ###
code/client/node_modules
code/client/lib/config/Config.js
code/client/gulpfile.js
code/client/server.js
code/client/webpack.config.js
code/client/src/js/config/develop/config.js
code/client/package-lock.json
code/client/yarn-error.log
d:/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
mvnw
mvnw.cmd

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
code/server/src/main/webapp/
